﻿@if (User.Identity.IsAuthenticated)
{
    @*@model LostPassServer.Data.Pages*@


    <div style="width: 100%; padding: 10px 30px;">
    <input id="search" type="search" class="search input-group input-lg" placeholder="Search" style="max-width: 10000px; width: 100%"/>
        </div>

    <table class="table table-hover" id="tbl">

        <thead>
        <tr>
            <th>
                Page name
            </th>
            <th>Login</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody id="tbd"></tbody>
    </table>
    <a href="/MainPage/Main/Vault" class="btn right btn-primary btn-lg">Add</a>


}
else
{
    <h1 align="center">Thank you for using LostPass</h1>
    <h2 align="center">Please log in</h2>
}