﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.contextMenu.css"/>
    <style>
        .right {
            float: right;
            margin: 4px;
        }
        .body-content {
            margin-bottom: 100px;
        }

        footer {
            
            padding: 1rem;
            background-color: #efefef;
            text-align: center;
        }

        img { margin-right: 5px; }

        
        /*#cont {
    width: 200px;
    height: 200px;
    border: 1px solid #aaa; 
        }*/



    </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" id="nbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("LostPass", "Index", "Home", new {area = ""}, new {@class = "navbar-brand", accesskey = "H"})
        </div>
        <div class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                @if (!Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Log in", "Login", "Auth", new {area = "AuthPage"}, new { accesskey = "I" })</li>
                    <li>@Html.ActionLink("Sign up", "Register", "Auth", new {area = "AuthPage"}, new { accesskey = "S" })</li>
                }
                else
                {

                    <li>@Html.ActionLink("About", "About", "Main", new { area = "MainPage" }, new { accesskey = "A"} )</li>
                    <li>@Html.ActionLink("Delete Account", "DeleteAccount", "Main", new { area = "MainPage" }, new { accesskey = "D" })</li>
                    <li>@Html.ActionLink("Password Generator", "PasswordGenerator", "Main", new { area = "MainPage" }, new { accesskey = "P" })</li>
                    <li>@Html.ActionLink("Settings", "Configs", "Main", new { area = "MainPage" }, new { accesskey = "S" })</li>
                    <li>
                        <a href="#" id="Logout" accesskey="O">Log out</a>
                    </li>
                 
                }


            </ul>
        </div>
    </div>
</div>

<div class="container body-content">

    @RenderBody()


</div>
    
    <footer class="footer navbar-fixed-bottom">
       
        <p>This page uses brownies and we must inform you because if we don't, the EU will sue us.</p>

        <p>&copy; @DateTime.Now.Year - LostPass</p>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.contextMenu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-en-US.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
@if (Request.IsAuthenticated)
{
    <script>

        function copyToClipboard(text) {
            window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
           
        }

        var setNavBarColor = function () {
            if (configs.ColorPalette)
                document.getElementById("nbar").style.background = "white";
       };

        var pages = [];
        var configs;
        var Edit = function(ind) {
            window.location = window.location + "/MainPage/Main/Edit/" + pages[ind].PageID;
        };
        var Delete = function(ind) {
            var token = localStorage.getItem("tokenInfo");
            var headers = {};

            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }

            $.ajax({
                type: 'DELETE',
                url: '/api/pages/' + pages[ind].PageID,
                headers: headers
            }).success(function(data) {
                refreshTable(headers);
            });
        }


        function extractDomain(url) {
            var domain;
            //find & remove protocol (http, ftp, etc.) and get domain
            if (url.indexOf("://") > -1) {
                domain = url.split('/')[2];
            } else {
                domain = url.split('/')[0];
            }

            //find & remove port number
            domain = domain.split(':')[0];

            return domain;
        }

        function getFavIcon(url) {
            var dom = extractDomain(url);
            return "http://www.google.com/s2/favicons?domain=" + dom;
        }

        var changeOrder = function (data) {

        }


        function sortJSON(data, key, way) {
            return data.sort(function (a, b) {
                var x = a[key]; var y = b[key];
                if (way === 'asc') { return ((x < y) ? -1 : ((x > y) ? 1 : 0)); }
                if (way === 'desc') { return ((x > y) ? -1 : ((x < y) ? 1 : 0)); }
            });
        }



        var refreshTable = function (headers) {
            
            $.ajax({
                type: 'GET',
                url: '/api/configs',
                headers: headers
            }).success(function (data) {
                configs = data;

            }).fail(function (jqXHR, textStatus, error) {
                var response = jqXHR.responseText;
                alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
            });


            $.ajax({
                type: 'GET',
                url: '/api/pages',
                headers: headers
            }).success(function (data) {
                if (configs.SortOrder == 'Name - ascending')
                    data = sortJSON(data, 'Name', 'asc');
                else if (configs.SortOrder == 'Name - descending')
                    data = sortJSON(data, 'Name', 'desc');
                else if (configs.SortOrder == 'Time Added (newest first)')
                    data = data.reverse();
                else if (configs.SortOrder == 'Time Added (oldest first)')
                    data = data;

                pages = data;
                
                $("#tbd").empty();

                for (var i = 0; i < data.length; i++) {
                    var t = data[i];
                    var passwd;

                    if (configs.HidePasswords)
                        passwd = Array(t.Passwords[0].Password.length + 1).join('•');
                    else
                        passwd = t.Passwords[0].Password;
                
                        $("#tbd").append("<tr><td><div>" +
                            '<img height=\"16\" width=\"16\" src="' +
                            getFavIcon(t.Name) +
                            '" /><a href="//' +
                            t.Name +
                            '" rel="external nofollow" >' +
                            t.Name +
                            '</a></div></td><td>' +
                            t.Passwords[0].Login +
                            "</td><td>" +
                        
                             passwd +
                        
                            "</td></tr>");
                    }


               
                $('#tbl').bootstrapTable({});
                $("#tbd").contextMenu({
                    selector: "tr",
                    callback: function(itemKey, opt) {
                        if (itemKey === "edit")
                            Edit($(this).closest('tr').prevAll().length);
                        if (itemKey === "delete")
                            Delete($(this).closest('tr').prevAll().length);
                        if (itemKey == 'copy') {
                            copyToClipboard(pages[$(this).closest('tr').prevAll().length].Passwords[0].Password);
                        }
                    },
                    items: {
                        "edit": { name: "Edit", icon: "edit" },
                        "copy": {name: "Copy password", icon: "copy"},
                        "delete": { name: "Delete", icon: "delete" },


                    }
                });
            }).fail(function(jqXHR, textStatus, error) {
                var response = jqXHR.responseText;

                alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
            });
        }

        $(document).ready(function() {
            var token = localStorage.getItem("tokenInfo");
            var headers = {};

            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }
            refreshTable(headers);
            window.setTimeout(setNavBarColor, 1000);
          
               
        });
        
        $("#search").on("keyup",
            function() {
                var value = $(this).val();

                $("table tr").each(function(index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td:first").text();

                        if (id.indexOf(value) < 0) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    }
                });
            });

    </script>
}

<script>
    $('#Logout').click(function(e) {
        var token = sessionStorage.getItem("tokenInfo");
        var headers = {};
        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }

        $.ajax({
            type: 'GET',
            url: 'api/account/logout',
            headers: headers
        }).done(function(data) {
            window.location = window.location.origin;
        }).fail(function(jqXHR, textStatus, error) {
            var response = JSON.parse(jqXHR.responseText);

            alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
        });
        e.preventDefault();
        localStorage.removeItem("tokenInfo");
        document.cookie = ".AspNet.Cookies=; Path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;";

    });
</script>


</body>
</html>