﻿@model LostPassServer.Models.ResetPasswordBindingModel

@{
    ViewBag.Title = "Forgot";
}

<h2>Forgot</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ResetPasswordBindingModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none" >
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" >
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="forgot" />
            </div>
        </div>
    </div>
</form>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('form').submit(function () { return false; });
        

        

        var QueryString = function () {
            var query_string = {};
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (typeof query_string[pair[0]] === "undefined") {
                    query_string[pair[0]] = decodeURIComponent(pair[1]);
                } else if (typeof query_string[pair[0]] === "string") {
                    var arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
                    query_string[pair[0]] = arr;
                } else {
                    query_string[pair[0]].push(decodeURIComponent(pair[1]));
                }
            }
            return query_string;
        }();

        $(window).load(function () {
            document.getElementById('Code').value = QueryString.code + "==";
        });
  

        $(function () {

            $('#forgot').click(function (e) {
                e.preventDefault();
                var loginData = {};
                loginData.Email = $('#Email').val();
                loginData.NewPassword = $('#NewPassword').val();
                loginData.ConfirmPassword = $('#ConfirmPassword').val();
                loginData.Code = QueryString.code + '==';

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/ConfirmReset',
                    data: loginData
                }).success(function (data) {
                   
                    window.location = window.location.origin;
                }).fail(function (jqXHR, textStatus, error) {
                    var response = jqXHR.responseText;
                    alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
                });
            });

        });

    </script>
}