﻿@model LostPassServer.Areas.AuthPage.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm(new {@id = "login-form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
       
        @Html.ValidationSummary(true, "")

        <div class="form-group" style="margin-top: 30px">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" id="submitLogin" style="margin-top: 15px"/><br/>
                    </div>
                    <a href="/AuthPage/Auth/Reset" id="Reset">Forgot password?</a>
                </div>
                <p class="alert alert-danger" style="display: none" id="errormsg"></p>

            </div>
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('form').submit(function () { return false; });
        $(function() {

            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                $('form').validate();
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#Email').val(),
                    password: $('#Password').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/token',
                    data: loginData
                }).success(function(data) {


                    localStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                    window.location = window.location.origin;

                }).fail(function(jqXHR, textStatus, error) {
                    var response = jqXHR.responseText;
                    var s = JSON.parse(response).error ? JSON.parse(response).error : JSON.parse(response).error_description;
                    $('#errormsg').text(s);
                    $('#errormsg').css("display", "inline-block");
                });
            });
        })
        
    </script>
}