﻿@model LostPassServer.Areas.AuthPage.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm(new {@id = "login-form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        @Html.ValidationSummary(true, "")
        <div class="form-group" style="margin-top: 30px">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top: 10px">
                <input type="submit" value="Register" class="btn btn-default" id="submit" style="margin-top: 15px"/>
            </div>
        </div>
        <p class="alert alert-danger" style="display: none" id="errormsg"></p>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        
        $(function() {
            $('#submit').click(function (e) {
                $('form').validate();
                if (!$('form').valid())
                    return;
                e.preventDefault();
                var data = {
                    Email: $('#Email').val(),
                    Password: $('#Password').val(),
                    ConfirmPassword: $('#ConfirmPassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Create',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function(msg, a, b) {
                    window.location.href = window.location.origin;
                    }).fail(function (jqXHR, textStatus, error) {
                        var response = jqXHR.responseText;
                        var s = JSON.parse(response).error ? JSON.parse(response).error : JSON.parse(response).error_description;
                        $('#errormsg').text(s);
                        $('#errormsg').css("display", "inline-block");
                    });
            });
        });
        $('form').change(function (e) {

            $('input:submit').attr("disabled", !$(this).valid());


        });
    </script>
}