﻿
@{
    ViewBag.Title = "Reset";
}




@using (Html.BeginForm(new { @id = "login-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h2>ResetPassword</h2>
        <hr />
        @Html.ValidationSummary(true, "")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <label for="emailLogin">Email address:</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email" />
                </div>

                <input type="submit" value="Reset" class="btn btn-default" id="reset" /><br />
            </div>
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function () {

            $('#reset').click(function (e) {
                e.preventDefault();
                var loginData = JSON.stringify({
                    Username: $('#Email').val(),
                });

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Reset',
                    data: loginData,
                    dataType: 'text'
                }).success(function (data) {
                    alert("Ok");

                }).fail(function (jqXHR, textStatus, error) {
                    var response = jqXHR.responseText;
                        alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
                });
            });

        })
    </script>
}
