﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.contextMenu.css"/>
    <style>
        .right {
            float: right;
            margin: 4px;
        }
        .body-content {
            margin-bottom: 100px;
        }

        footer {
            
            padding: 1rem;
            background-color: #efefef;
            text-align: center;
        }

        img { margin-right: 5px; }
    </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" id="nbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("LostPass", "Index", "Home", new {area = ""}, new {@class = "navbar-brand", accesskey = "H" })
        </div>
        <div class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                @if (!Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Log in", "Login", "Auth", new {area = "AuthPage"}, new { accesskey = "I" })</li>
                    <li>@Html.ActionLink("Sign up", "Register", "Auth", new {area = "AuthPage"}, new { accesskey = "S" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("About", "About", "Main", new { area = "MainPage" }, new { accesskey = "A" })</li>
                    <li>@Html.ActionLink("Delete Account", "DeleteAccount", "Main", new { area = "MainPage" }, new { accesskey = "D" })</li>
                    <li>@Html.ActionLink("Password Generator", "PasswordGenerator", "Main", new { area = "MainPage" }, new { accesskey = "P" })</li>
                    <li>@Html.ActionLink("Settings", "Configs", "Main", new { area = "MainPage" }, new { accesskey = "S" })</li>

                    <li>
                        <a href="#" id="Logout" accesskey="O">Log out</a>
                    </li>
                 
                }


            </ul>
        </div>
    </div>
</div>

<div class="container body-content">

    @RenderBody()



</div>
    
    <footer class="footer navbar-fixed-bottom">
        <p>This page uses brownies and we must inform you because if we don't, the EU will sue us.</p>

        <p>&copy; @DateTime.Now.Year - LostPass</p>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.2/jquery.contextMenu.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-en-US.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>


<script>
    var configs;


    var setNavBarColor = function () {
        if (configs.ColorPalette)
            document.getElementById("nbar").style.background = "white";
    };

    $(document).ready(function () {
        var token = localStorage.getItem("tokenInfo");
        var headers = {};

        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }
       

        $.ajax({
            type: 'GET',
            url: '/api/configs',
            headers: headers
        }).success(function (data) {
            configs = data;

        }).fail(function (jqXHR, textStatus, error) {
            var response = jqXHR.responseText;
            alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
        });

        window.setTimeout(setNavBarColor, 1000);


    });
   



    $('#Logout').click(function(e) {
        var token = sessionStorage.getItem("tokenInfo");
        var headers = {};
        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }

        $.ajax({
            type: 'GET',
            url: 'api/account/logout',
            headers: headers
        }).done(function(data) {
            window.location = window.location.origin;
        }).fail(function(jqXHR, textStatus, error) {
            var response = JSON.parse(jqXHR.responseText);

            alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
        });
        e.preventDefault();
        localStorage.removeItem("tokenInfo");
        document.cookie = ".AspNet.Cookies=; Path=/; expires=Thu, 01 Jan 1970 00:00:01 GMT;";

    });
</script>


</body>
</html>