﻿
@{
    ViewBag.Title = "About";
}

<h2>LostPass</h2>

<h3>Authors: Bartosz Jasiński, Ivan Rukhavets </h3>
<h3>Version: 0.0.1-alfa</h3>
<h4>Shortcuts:</h4>
<h5>Firefox:</h5>
<p>Log in - Alt + Shift + I</p>
<p>Log out - Alt + Shift + O</p>
<p>About - Alt + Shift + A</p>
<p>Home - Alt + Shift + H</p>
<p>Delete Account - Alt + Shift + D</p>
<p>Generate Password - Alt + Shift + G</p>
<h5>Chrome:</h5>
<p>Log in - Alt + I</p>
<p>Log out - Alt + O</p>
<p>About - Alt + A</p>
<p>Home - Alt + H</p>
<p>Delete Account - Alt + D</p>
<p>Generate Password - Alt + G</p>