﻿@model LostPassServer.Data.Configs

@{
    ViewBag.Title = "Configs";
}

<h2>Configs</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Configs</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display: none">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" >
            @Html.LabelFor(model => model.ColorPalette, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ColorPalette)
                    @Html.ValidationMessageFor(model => model.ColorPalette, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HidePasswords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HidePasswords)
                    @Html.ValidationMessageFor(model => model.HidePasswords, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <select id="SortOrder">
                <option value="Name - ascending">"Name - ascending"</option>
                <option value="Name - descending">"Name - descending"</option>
                <option value="Time Added (newest first)">"Time Added (newest first)"</option>
                <option value="Time Added (oldest first)">"Time Added (oldest first)"</option>
            </select> 
 
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="submitConfigs" />
            </div>
        </div>
    </div>
</form>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>

            var QueryString = function () {
                // This function is anonymous, is executed immediately and
                // the return value is assigned to QueryString!
                var query_string = {};
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    // If first entry with this name
                    if (typeof query_string[pair[0]] === "undefined") {
                        query_string[pair[0]] = decodeURIComponent(pair[1]);
                        // If second entry with this name
                    } else if (typeof query_string[pair[0]] === "string") {
                        var arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
                        query_string[pair[0]] = arr;
                        // If third or later entry with this name
                    } else {
                        query_string[pair[0]].push(decodeURIComponent(pair[1]));
                    }
                }
                return query_string;
            }();

            var configs;
            var token = localStorage.getItem("tokenInfo");
            var headers = {};

            $(window).load(function () {
                if (token) {
                    headers.Authorization = 'Bearer ' + token;
                }

                $.ajax({
                    type: 'GET',
                    url: '/api/configs',
                    headers: headers
                }).success(function (data) {
                    configs = data;

                }).fail(function (jqXHR, textStatus, error) {
                    var response = jqXHR.responseText;
                    alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
                });
            });


            $(function () {

                $('#submitConfigs').click(function (e) {
                    e.preventDefault();

                    var loginData = {};
                    loginData.Username = configs.Username;
                    loginData.ColorPalette = document.getElementById("ColorPalette").checked;
                    loginData.HidePasswords = document.getElementById("HidePasswords").checked;
                    loginData.SortOrder = document.getElementById('SortOrder').value;
                    
                    var url = '/api/Configs/' + configs.Username;
                    $.ajax({
                        type: 'PUT',
                        url: url,
                        headers: headers,
                        data: loginData
                    }).success(function (data) {

                      //  window.location = window.location.origin;

                    }).fail(function (jqXHR, textStatus, error) {
                        var response = jqXHR.responseText;
                        alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
                    });
                });

            });

        </script>
    }
