﻿
@{
    ViewBag.Title = "DeleteAccount";
}

<h2>DeleteAccount</h2>


@using (Html.BeginForm(new { @id = "login-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h4>DeleteAccount</h4>
        <hr />
        @Html.ValidationSummary(true, "")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input type="submit" value="Delete Account" class="btn btn-default" id="deleteAccount" /><br />
                </div>

            </div>
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function () {
            var tokenKey = "tokenInfo";
            $('#deleteAccount').click(function (e) {
                e.preventDefault();
                var token = localStorage.getItem("tokenInfo");
                var headers = {};
                if (token) {
                    headers.Authorization = 'Bearer ' + token;
                }

                $.ajax({
                    type: 'DELETE',
                    url: '/api/pages',
                    headers: headers
                }).success(function (data) {
                    alert("WERY Gud");
                }).fail(function (jqXHR, textStatus, error) {
                    var response = jqXHR.responseText;
                        alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
                });
            });

        })
    </script>
}
