﻿
@{
    ViewBag.Title = "PasswordGenerator";
}

<h2>PasswordGenerator</h2>


@using (Html.BeginForm(new { @id = "login-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h4>DeleteAccount</h4>
        <hr />
        @Html.ValidationSummary(true, "")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" id="pass" />
                    <input type="text" id="passStrength" /> <br />
                    <input type="number" name="passLength" id="passLength"> <br />
                    <form action="">
                        <input type="checkbox" id="az" value="a-z">a-z <br />
                        <input type="checkbox" id="AZ" value="A-Z">A-Z <br />
                        <input type="checkbox" id="09" value="0-9">0-9 <br />
                        <input type="checkbox" id="specialChars" value="!#$...">!#$... <br />
                    </form>
                    <input type="submit" value="Generate Password" class="btn btn-default" id="generatePassword" /> <br />
                </div>

            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        function scorePassword(pass) {
            var score = 0;
            if (!pass)
                return score;

            var letters = new Object();
            for (var i = 0; i < pass.length; i++) {
                letters[pass[i]] = (letters[pass[i]] || 0) + 1;
                score += 5.0 / letters[pass[i]];
            }

            var variations = {
                digits: /\d/.test(pass),
                lower: /[a-z]/.test(pass),
                upper: /[A-Z]/.test(pass),
                nonWords: /\W/.test(pass),
            }

            variationCount = 0;
            for (var check in variations) {
                variationCount += (variations[check] == true) ? 1 : 0;
            }
            score += (variationCount - 1) * 10;

            return parseInt(score);
        }

        function generatePossibleCharacters() {
            var possible = "";
            if (document.getElementById("az").checked)
                possible +=  "abcdefghijklmnopqrstuvwxyz";
            if(document.getElementById("AZ").checked)
                possible += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            if(document.getElementById("09").checked)
                possible += "0123456789";
            if(document.getElementById("specialChars").checked)
                possible += "!#$%^&*()";

            return possible;
        }

        function makeid() {
            var text = "";
            var possibleCharacters = generatePossibleCharacters();
            var passwordLength = document.getElementById("passLength");
            for (var i = 0; i < passwordLength.valueAsNumber; i++)
                text += possibleCharacters.charAt(Math.floor(Math.random() * possibleCharacters.length));

            return text;
        }

        $('#generatePassword').click(function (e) {
            e.preventDefault();
            var p = makeid();
            $("#pass").val(p);
            $("#passStrength").val(scorePassword(p));
        })



    </script>
}
