﻿@{
    ViewBag.Title = "New Page";
}



@using Microsoft.Ajax.Utilities
@model LostPassServer.Data.Pages


@using (Html.BeginForm("", "", FormMethod.Post, new {@id = "login-form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">


        @Html.ValidationSummary(true, "")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <div class="form-group">
                    @Html.EditorFor(model => model.URL, new {htmlAttributes = new {@class = "form-control", placeholder="Url"}})
                    @Html.ValidationMessageFor(model => model.URL, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Passwords.First().UserLogin, new {htmlAttributes = new {@class = "form-control", placeholder = "Login" } })
                    @Html.ValidationMessageFor(model => model.Passwords.First().UserLogin, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Passwords.First().Pass, new {htmlAttributes = new {@class = "form-control", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Passwords.First().Pass, "", new {@class = "text-danger"})
                </div>

                <input type="submit" value="Add Page" class="btn btn-default" id="addPage"/><br/>

            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('form').submit(function () { return false; });
        $('#addPage').click(function (e) {
            $('form').validate();
            if (!$('form').valid() || !$('#URL').val())
                return;
            var token = localStorage.getItem("tokenInfo");
            var headers = {};
            if (token) {
                headers.Authorization = 'Bearer ' + token;
            }


            var d = {
                Url: $('#URL').val(),
                Passwords: [
                    {
                        UserLogin: $('#UserLogin').val(),
                        Pass: $('#Pass').val()
                    }
                ]
            };

            $.ajax({
                type: 'POST',
                url: '/api/pages',
                headers: headers,
                data: d
            }).done(function(){
                alert('done');
            })
                .success(function (data) {
                window.location = window.location.origin;
                return false;
            }).fail(function(jqXHR, textStatus, error) {
                
                var response = JSON.parse(jqXHR.responseText);

                alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
            });


        });


    </script>
    @*<script>

        $(function () {
            //...........................

            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'GET',
                    url: '/api/pages',
                    Au
                }).success(function (data) {
                    alert(JSON.parse(data.responseText));
                }).fail(function (jqXHR, textStatus, error) {
                    var response = JSON.parse(jqXHR.responseText);
                        alert('Error: ' + error + " " + "\n" + textStatus.error + "\n" + response);
                });
            });

        })
    </script>*@
}